.grid {
    border: 1px solid #8DB2E3;
    font: 12px arial,helvetica,sans-serif;
}
.grid td {
    font: 100% arial,helvetica,sans-serif;
    height: 24px;
    padding: 5px;
}
.grid {
    border-collapse: collapse;
    width: 100%;
}
.grid th {
    background: none repeat scroll 0 0 #E7F3FE;
    border: 1px solid #8DB2E3;
    height: 27px;
    line-height: 27px;
    padding-left: 5px;
}
.grid td {
    border: 1px solid #8DB2E3;
    padding-left: 5px;
}

.icon-home{
	background:url('../images/icons/home.png') no-repeat center center;
}
.icon-navigation{
	background:url('../images/icons/navigation.png') no-repeat center center;
}
.icon-resource{
	background:url('../images/icons/resource.png') no-repeat center center;
}
.icon-operation{
	background:url('../images/icons/operation.png') no-repeat center center;
}
.icon-config{
	background:url('../images/icons/config.png') no-repeat center center;
}
.icon-department{
	background:url('../images/icons/department.png') no-repeat center center;
}
.icon-business{
	background:url('../images/icons/business.png') no-repeat center center;
}
.icon-collection{
	background:url('../images/icons/collection.png') no-repeat center center;
}

/*ztree增加按钮的样式 */
.ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
/*没有满屏出现滚动条*/
.panel-body{
    overflow: visible;
}
body{ /*.org, .org */
	overflow: visible;
}
.layout{ /*.org body */
	overflow: auto;
}