.icon-home{
	background:url('../images/icons/home.png') no-repeat center center;
}
.icon-navigation{
	background:url('../images/icons/navigation.png') no-repeat center center;
}
.icon-resource{
	background:url('../images/icons/resource.png') no-repeat center center;
}
.icon-operation{
	background:url('../images/icons/operation.png') no-repeat center center;
}
.icon-config{
	background:url('../images/icons/config.png') no-repeat center center;
}
.icon-department{
	background:url('../images/icons/department.png') no-repeat center center;
}